{% extends 'partials/_master.twig' %}

{% block main %}

    {% if record is defined %}

        <h1>{{ record.title }}</h1>

        {# Remove this block if you don't need it anymore. #}
        {{ include('partials/_fresh_install.twig') }}

        {{ record.teaser }}

        {{ popup(record.image, 1200, 500) }}

        {{ record.body }}

        {{ include('partials/_recordfooter.twig', { 'record': record }) }}

    {% endif %}

    <span>TEST IN INDEX</span>

    {% setcontent images = "image/latest/4" %}

    {% for image in images %}
        <article>
            <h2><a href="{{ image.link }}">{{ image.title }}</a></h2>

            {{ image.excerpt }}

            <p class="meta"><a href="{{ image.link }}">Link</a> -
                Posted by {{ image.user.displayname }}
                on {{ image.datecreated|date("M d, ’y")}}</p>

        </article>
    {% endfor %}

{% endblock main %}


